html, body {
  height: 100%;
}
body{
  padding-top: 60px;
  background:url('/tiles.png');
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .login-fail{
  font-size:11px;
  color:#ed0000;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .dropdown-menu{
      display: block;
      position: static;
      background-color:transparent;
      border:0 none;
      box-shadow:none;
      margin-top:0;
      position:static;
      width:100%;
  }
  .navbar-nav .dropdown-menu > li > a,
  .navbar-nav .dropdown-menu .dropdown-header {
      padding:5px 15px 5px 25px;
  }
  .navbar-nav .dropdown-menu > li > a{
      line-height:20px;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a{
      color:#777;
  }
  a.dropdown-toggle .caret {
    display: none;
  }
  .dropdown a.dropdown-toggle{
      display:none;
  }
  #testing{
    padding-left: 3%;
  }
}
